
.title{
	background-color: red;
}

.navbar-brand{
	backgroun-color: blue;
}

.vertical-menu {
	position: relative;
    width: 200px;
    height: 150px;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;



  /* .jumbotron {
     background-image: url("HTB1PpfeKXXXXXaIXXXXq6xXFXXXM.jpg");
      background-repeat: no-repeat;
      background-position: center;
      color: blue;
      padding: 250px 200px;
      background-position: certificate;
      
  }

.logo{
  font-family: 'Lobster', cursive;
 color:  #4285F4;
 font-size: 30px;
}
  .title h1{
    font-size: 150px;
    font-family: 'Lobster', cursive;
  }
 
 .aboutus{
  
   color: white;
    font-family: 'Amatic SC', cursive;
 }


 .event{
   color: white;
   font-family: 'Amatic SC', cursive;

 }

 .event h2{
   font-size: 35px;
 }

 .event h4{
   font-size: 25px;
 }

 
 
 .panel-body{
   font-family: 'Amatic SC', cursive;
    font-size: 25px;
 }

 .panel-heading{
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
 }

 .button{
  font-family: 'Heebo', sans-serif;
    font-size: 35px;
 }


.glyphicon glyphicon-heart{
  color: red;
}

  .container-fluid {
      padding: 60px 50px;
      background-color: #3B5998;
      
  }
  
  .myNavbar li{
  font-size: 60px;
  }

  
  .services{
    color: white;
  }

  .bg-grey {
      background-color: black;
      font-family: 'Secular One', sans-serif;
      color: blue;
  }
  .logo-small {
      color: blue;
      font-size: 50px;
  }

  
  .logo {
      color: #00ff00;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 17px 0;
      border: none;
      border-radius: 0;

  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
      
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: blue;
  }
  .carousel-indicators li {
      border-color: blue;
  }
  .carousel-indicators li.active {
      background-color: blue;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
      color: white;
  }
  .item span {
      font-style: normal;
      color:white;
  }
  .panel {
      border: 1px solid white; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
      

  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: white;
  }
  .panel-heading {
      color: white !important;
      background-color: RED !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
 
  .navbar {
      margin-bottom: 0;
      background-color: #11c2cc;
      z-index: 9999;
      border: 0;
      font-size: 20px !important;
      line-height: 1.42857 !important;
      letter-spacing: 4px;
      border-radius: 0;
      
  }
  .navbar li a, .navbar .navbar-brand {
      color: #FBBC05;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #FBBC05 !important;
      background-color: #EA4335 !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: WHITE !important;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
 */